*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 232, 247);
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
}

.topbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(230, 215, 215);
    padding: 15px 100px;
    height: 20px;
}

header{
    padding: 15px 100px;
    height: 70px;
    
}

.sc-row{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
}

.navbar-container{
    background-color: gray;
}

.header-ul li a{
    padding: 8px;
    background-color: black;
    border-radius: 5px;
    color: white;
}